<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <script type="text/javascript">
        if (!(window.location.href.indexOf("language") > -1)) {
            if (window.location.href.indexOf("login") > -1) {
                window.location.replace("http://localhost:5000/login?language=the%20language%20of%20love");
            }
        }
        </script>
    {% include "header.html" %}
    <h1>Secure Password Generator</h1>
    <p>Your Password: </p>
    <input type="text" name="" placeholder="Create password" id="password" readonly>

    <br>
    <button onclick="genPassword()">New password</button>
    <button onclick="copyPassword()">Copy Password</button>
    <br><br>
    {{ debug }}
    {{ additional }}
    {{ data }}
    {% include "form.html" %}
    {% include "footer.html" %}
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</body>
</html>