<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "header.html" %}
    <h1>Secure Password Generator</h1>
    <p>Your Password: </p>
    <input type="text" name="" placeholder="Create password" id="password" readonly>

    <br>
    <button onclick="genPassword()">New password</button>
    <button onclick="copyPassword()">Copy Password</button>
    <br><br>
    {{ debug }}
    {{ additional }}
    {{ data }}
    {% include "footer.html" %}
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</body>
</html>